@import url(./Assets/styles/global.css);
@import url(./Assets/styles/hero.css);
@import url(./Assets/styles/header.css);
@import url(./Assets/styles/destaques.css);
@import url(./Assets/styles/loja.css);
@import url(./Assets/styles/sobre.css);
@import url(./Assets/styles/cadastro.css);
@import url(./Assets/styles/artigos.css);
@import url(./Assets/styles/footer.css);
@import url(./Assets/styles/inicio_Ivana);
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');