footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    background:var(--corVerde3); /* se quiser manter a mesma cor do header */
    color: var(--corClara);
    margin-top: 40px;
}

footer nav {
    width: 50%;
}

footer ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0px 10% 0 20%;
}

footer a {
    margin: 0px 10px;
    color: var(--corVerde1);
}

footer a:hover{
    font-style: italic;
    text-decoration: underline;
}