.topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background: var(--corVerde2);
    padding: 14px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 8px var(--corMaisEscura);
}

.topo img {
    height: 50px;
}

.topo ul {
    display: flex;
    flex-direction: row;
}

.topo nav a{
    color: var(--corVerde3);
    font-weight: 500;
    font-size: 20px;
    margin-left: 14px;
    text-decoration: none;
}
.topo nav a:hover,
.topo nav a.ativo {
    text-decoration: underline;
}
